@import '~bootstrap';

/**@import 'tools/vars';

@import 'components/modal';**/

html, body {
  height:100%;
}

/**
 * General
 **/

.vich-image a {
  margin:16px 0;
}

.vich-image a img {
  padding: space(2, 0) 0;
  width: 100%;
  display:block;
  vertical-align: initial;
}

.sidebar__title {
  font-size:1.2em;
}

.table-crud svg{
  width:50px;
  height:50px;
}

.actions {
  min-width:150px;
}

textarea.form-control {
  height:250px;
}

.ck-editor__editable {
  height:250px;
}

/** Pages **/

@import 'pages/login.scss';