@import '~bootstrap';

/**@import 'tools/vars';

@import 'components/modal';**/

html, body {
  height:100%;
}

.sidebar__title {
  font-size:1.2em;
}

.table-crud svg{
  width:50px;
  height:50px;
}

.actions {
  min-width:150px;
}

textarea.form-control {
  height:250px;
}

.ck-editor__editable {
  height:250px;
}

/** Pages **/

@import 'pages/login.scss';