.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom:space(2, 8);
}

.form-group > label {
    font-weight: 400;
    margin-bottom:space(1, 8);
}

.form-control {
    display:block;
    padding:8px 12px;
    width: 100%;
    border-radius:5px;
    background: inherit;
    border:1px solid $light-color;
    color: $light-color;
}

.form-row {
    width:100%;
    display:flex;
    align-items: stretch;
}

.form-row > .form-group:first-child {
    margin-left:0;
}

.form-row > .form-group:last-child {
    margin-right:0;
}

.form-row > .form-group {
    margin:0 4px;
    flex:1;
}