.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom:space(2, 8);
}

.form-group > label {
    font-weight: 400;
    margin-bottom:space(1, 8);
}

.form-control {
    display:block;
    padding:8px 12px;
    width: 100%;
    border-radius:5px;
    background: inherit;
    border:1px solid $light-color;
    color: $light-color;
}