@use 'sass:color';

.btn {
    padding:11px 21px;
    border-radius:3px;
    text-decoration:none;
    border:1px solid $light-color;
    color:$light-color;
    cursor:pointer;
    font-weight:600;
    transition:.3s ease;
}

.btn:hover {
    background: color.change($light-color, $alpha: 0.08);
}

.btn-primary {
    background:$secondary-color;
    border-color: $secondary-color;
    color:$primary-color;
}

.btn-primary:hover {
    background: color.adjust($secondary-color, $lightness: 10%);
}
.btn-primary.btn-outline:hover {
    background: color.change($secondary-color, $alpha: 0.08);
}
.btn-primary.btn-outline {
    background:transparent;
    color:$secondary-color;
}