/**
 * Pagination
 **/
.pagination {
  margin-top:60px;
  text-align: center;
}

.pagination--btn-prev, .pagination--btn-next, .pagination--btn-number {
  display:inline-block;
  padding:6px;
  border:none;
  background-color: $secondary-color;
  border-radius: 3px;
}

span.pagination--btn {
  background: transparent;
}

.pagination--btn.is-active {
  background: transparent;
}

/**
 * Icone de la pagination
 **/
.icon-prev, .icon-next {
  width: 18px;
  vertical-align: middle;
}