
{% block section_home %}
    <div class="grid grid-2 grid-gap-4 align-items-center reveal">
        <div class="introduction">
            <h1 class="section__title introduction__title mb-5 reveal-1">{{ site_title }}</h1>

            <div class="introduction">
                <div class="introduction__text reveal-2">
                    {{ introduction }}
                </div>
                <div class="introduction__callActions reveal-4">
                    <a href="#" class="btn btn-primary">Mes réalisations</a>
                    <a href="#" class="btn btn-primary btn-outline">En savoir plus...</a>
                </div>
            </div>
        </div>

        <div class="introduction_image reveal-3">
            {{ svg_introduction | raw }}
        </div>
    </div>
{% endblock %}