{% block section_projects %}
    <h2 class="section__title">Mes dernières réalisation</h2>
    <p class="section__details">Parcourez une petite partie de mes réalisations</p>
    {% if projects %}

        <div class="projects__container reveal">
            {% include 'elements/all-project.html.twig' %}
        </div>

    {% endif %}
{% endblock %}