{% extends 'admin.html.twig' %}

{% block title %}Créer une compétence{% endblock %}

{% block content %}
    <div class="container">
        <div class="section section_skill_create">
            <h1 class="section__title">Ma super liste de skill</h1>

            <form action="#" method="POST">
                <div class="form-group">
                    <label for="name"></label>
                    <input id="name" type="text" placeholder="Nom de la compétences" class="form-control">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
