{% extends 'admin.html.twig' %}

{% block title %}Gérer vos compétences{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row p-5">
            <div class="col-md-2">
                <h2 class="sidebar__title mb-3">Ajouter une compétence</h2>
                {% include 'admin/skills/Form/create.html.twig' %}
            </div>

            <div class="col-md-9">
                <h1 class="mb-3">Gérer vos compétences</h1>
                {% include 'admin/skills/Elements/list.html.twig' %}
            </div>
        </div>

    </div>
{% endblock %}