<nav class="navigation">
    <ul class="nav">
        <li class="nav__item"><a href="{{ path('HOME') }}" class="nav__link">Accueil</a></li>
        <li class="nav__item"><a href="{{ path('HOME') }}#skills" class="nav__link">Compétences</a></li>
        <li class="nav__item"><a href="{{ path('PROJECTS') }}" class="nav__link">Réalisations</a></li>
        <li class="nav__item"><a href="#" class="nav__link">A propos</a></li>
        <li class="nav__item"><a href="{{ path('CONTACT') }}" class="nav__link">Contact</a></li>
   </ul>
</nav>