<nav class="navigation">
    <ul class="nav">
        <li class="nav__item"><a href="#" class="nav__link">Accueil</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Compétences</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Réalisation</a></li>
        <li class="nav__item"><a href="#" class="nav__link">A propos</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
1    </ul>
</nav>