<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rochester&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Rochester&display=swap" rel="stylesheet">

        {# Meta og, twitter, ect... a rajouter plus tard #}

        {# Meta Description #}
        {% block seo_description %}
            <meta name="description" content="Autodidacte et passionné par la création digitale, j'ai contribuer a plusieurs projets, découvrez mes différentes contributions.">
        {% endblock %}

        {# Meta Robots #}
        {% block seo_robots %}
            <meta name="robots" content="index, follow, max-image-preview:standard, max-snippet:-1, max-video-preview:-1">
        {% endblock %}

        <title>{% block title %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'modules/navigation.html.twig' %}
        {% include 'elements/notifications/notifications.html.twig' %}
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
