.container {
  @include container();
}

.grid {
  display:grid;
}

.grid.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

@for $i from 1 through 4 {
  .grid-gap-#{$i}{
    grid-gap: space($i ,8);
  }
}

.align-items-center {
    align-items: center;
}