$container-size: 80%;

/**
 * Color
 **/
$primary-color: #131618;
$secondary-color: #C2B787;
$secondary-color-hover: #8a7e60;
$light-color: #EFEFF0;
$light-color-hover: #b8b8b8;
/**
 * Fonts
 **/
$font-primary: 'Josefin Sans', sans-serif;
$font-secondary: 'Rochester', cursive;