{% extends 'base.html.twig' %}

{% block title %}Tous mes réalisations{% endblock %}

{% block body %}
    <div class="container">
        <h1>Découvrez mes réalisations</h1>
        {% if projects %}
            <div class="projects__container reveal">
                {%  include 'elements/all-project.html.twig' %}
            </div>

            {{ knp_pagination_render(projects, 'partials/pagination.html.twig') }}

        {% else %}
            <p>Il n'y a encore aucun projet !</p>
        {% endif %}
    </div>

{% endblock %}